In [1]:
b = 3
b**2

9

In [7]:
a=int(input("Enter a: "))
c=int(input("enter c: " ))
b=int(input("enter b: "))
d=b**2-4*a*c
if d<0:
    print("solution doesn't exist")
else:
        x1=(-b+d**0.5)/(2*a)
        x2=(-b-d**0.5)/(2*a)
        print("x1",x1,"\nx2=",x2)

Enter a: 5
enter c: 2
enter b: 12
x1 -0.1801960972814431
x2= -2.219803902718557

In [8]:
x = int(input("kindly enter number")) 
if x%2 == 0:
    print("the number is even")
else:
    print("the number is odd")

kindly enter number5
the number is odd

In [10]:
x = int(input("enter a number"))
if x > 0 :
    print("the number is positive")
elif x == 0:
    print("the number is zero")
else :
    print("the number is negative")

enter a number-5
the number is negative

In [13]:
x = 0
if x == 0:
    print("true")

true

In [17]:
if -5:
    print("gelllo")

gelllo

In [18]:
bool(0)

False

In [19]:
bool(9)

True

In [20]:
bool("")

False

In [21]:
a = int(input("enter value"))
b = int(input("enter value"))
c = int(input("enter value"))
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("b is gtreater")
else:
    print("c is greater")

enter value5
enter value9
enter value7
b is gtreater

In [23]:
a = int(input("enter value"))
b = int(input("enter value"))
c = int(input("enter value"))
if a>b:
    if a>c:
        print("a")
elif b>c:
    if b>c:
        print("b")
elif c>a:
    if c>a:
        print("c")
else:
    print("all are equal")

enter value9
enter value9
enter value9
all are equal

In [25]:
cities = ["karachi","lahore"]

In [26]:
cities

['karachi', 'lahore']

In [27]:
cities[0]

'karachi'

In [28]:
cities.append("islamabad")

In [30]:
cities

['karachi', 'lahore', 'islamabad']

In [32]:
cities.insert(2,"hyderabad")

In [33]:
cities

['karachi', 'lahore', 'hyderabad', 'islamabad']

In [34]:
cities += ["bombay","ok"]

In [35]:
cities

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'ok']

In [36]:
list(cities)

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'ok']

In [37]:
del cities[5]

In [38]:
cities

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay']

In [39]:
country = []

In [40]:
cities

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay']

In [41]:
cities[2:4]

['hyderabad', 'islamabad']

In [42]:
cities[0:3]

['karachi', 'lahore', 'hyderabad']

In [46]:
cities[0:4:2]

['karachi', 'hyderabad']

In [47]:
cities[0::3]

['karachi', 'islamabad']

In [48]:
cities[::3]

['karachi', 'islamabad']

In [49]:
cities[:]

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay']

In [50]:
cities[::]

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay']

In [53]:
cities += 'ok'

In [54]:
cities

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'o', 'k', 'o', 'k']

In [55]:
x = cities

In [56]:
x

['karachi', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'o', 'k', 'o', 'k']

In [57]:
x[0]='sydney'

In [58]:
x

['sydney', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'o', 'k', 'o', 'k']

In [59]:
cities

['sydney', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'o', 'k', 'o', 'k']

In [60]:
y =cities[:]

In [61]:
y

['sydney', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'o', 'k', 'o', 'k']

In [62]:
y[0]

'sydney'

In [63]:
y[-1]

'k'

In [64]:
y[-5]

'bombay'

In [65]:
cities[4::-2]

['bombay', 'hyderabad', 'sydney']

In [66]:
cities[::-1]

['k', 'o', 'k', 'o', 'bombay', 'islamabad', 'hyderabad', 'lahore', 'sydney']

In [68]:
cities.pop(3)

'islamabad'

In [69]:
cities

['sydney', 'lahore', 'hyderabad', 'bombay', 'o', 'k', 'o', 'k']

In [70]:
x

['sydney', 'lahore', 'hyderabad', 'bombay', 'o', 'k', 'o', 'k']

In [71]:
y

['sydney', 'lahore', 'hyderabad', 'islamabad', 'bombay', 'o', 'k', 'o', 'k']

In [ ]:
a = int(input("enter number prints its table"))
for i in range(11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))

In [ ]:
a=5
for i in range(11):
    print(str(a) +" * " +str(i)+ " = " +str(a*i))